* {
  box-sizing: border-box;
  /* border: 0.1px solid black; */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f6f7f8;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  text-decoration-line: none;
}

ul {
  list-style-type: none;
}
header{
  display: flex;
}
header.logo{
  display: flex;
}
nav ul{
  display: flex;
}
